.screen {
	width: 100vw;
	height: 100vh;
	background-color: #282c34;
	display: flex;
	justify-content: center;
}

.display {
  width: 55vh !important;
  min-width: 55vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2%;
}